global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'backend'
    scrape_interval: 5s
    static_configs:
      - targets: ['backend:8080']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node-exporter:9100']
