basePath: /
definitions:
  controllers.RegisterStudentReqFields:
    properties:
      college:
        type: string
      email:
        type: string
      name:
        type: string
      username:
        type: string
    type: object
  controllers.StudentBlogLinkReqFields:
    properties:
      blog_link:
        type: string
      username:
        type: string
    type: object
info:
  contact: {}
  description: KWoC Backend API written in go
  title: KWoC Backend
  version: 2.0.0
paths:
  /healthcheck/ping:
    get:
      consumes:
      - text/plain
      description: Ping responds with "pong" and returns the latency
      produces:
      - text/plain
      responses:
        "200":
          description: pong
          schema:
            type: string
      summary: ping
  /student/bloglink/:
    post:
      consumes:
      - application/json
      description: |-
        submit a blog link for a student
        requires login
      parameters:
      - description: Fields required for student bloglink
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/controllers.StudentBlogLinkReqFields'
      produces:
      - text/plain
      responses:
        "200":
          description: BlogLink successfully updated.
          schema:
            type: string
        "400":
          description: Student 'username' does not exist.
          schema:
            type: string
        "401":
          description: Login username and given username do not match.
          schema:
            type: string
        "500":
          description: Error updating BlogLink for 'username'.
          schema:
            type: string
      summary: Submit blog link
  /student/form/:
    post:
      consumes:
      - application/json
      description: Register a new student with the provided details.
      parameters:
      - description: Fields required for student registeration
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/controllers.RegisterStudentReqFields'
      produces:
      - text/plain
      responses:
        "200":
          description: Student registration successful.
          schema:
            type: string
        "400":
          description: Student 'username' already exists.
          schema:
            type: string
        "401":
          description: Login username and given username do not match.
          schema:
            type: string
        "500":
          description: Database error.
          schema:
            type: string
      summary: Register a student
swagger: "2.0"
