name: Testing and Linting

on: 
  push:
    branches:
      - main
  pull_request:

jobs:
  test_and_lint:
    env:
      BACKEND_PORT: 8080
      DATABASE_HOST: localhost
      DATABASE_PORT: 5432
      DATABASE_NAME: testDb
      DATABASE_USERNAME: user
      DATABASE_PASSWORD: pass
      GITHUB_ORG_NAME: kossiitkgp
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    runs-on: ubuntu-latest
    strategy:
        matrix:
          go-version: [ '1.19', '1.20' ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Start DB
        run: |
          docker compose -f docker-compose.yaml up --build -d
          until docker compose exec -T database pg_isready -U "${DATABASE_USERNAME}" -d "${DATABASE_NAME}"; do
            sleep 1
          done

      - name: Test
        run: |
          go test ./... -p 1

      - name: Stop DB
        run: |
          docker compose -f docker-compose.yaml down -v

      - name: Lint
        uses: golangci/golangci-lint-action@v3
